/* @theme theme-light-2 */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

section {
  justify-content: flex-start;
  letter-spacing: 0;
  font-family: "Liberation Sans", sans-serif;

  h1 {
    color: #333;

    strong {
      color: rgb(218, 8, 130);
    }
  }
}

section.lead {
  justify-content: center;

  h4 {
    margin: 0;
  }
}


section.inverted {
  background: rgb(218, 8, 130);
  color: #fff;

  h1, h2, h3, h4 {
    background: transparent;
    color: #fff;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  strong {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 800;
  }
}

section.title {
  h1 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-top: -10px;
  }
}


section.yellow {
  background: rgb(241, 193, 32);
  color: #333;

  a {
    color: #333;
    text-decoration: underline;
  }

  h1 {
    color: #333;
    font-size: 300%
  }

  h2 {
    strong {
      color: rgb(75, 58, 3);
      font-weight: 700;
    }
  }
}




section.blue {
  h1 {
    background: #02b0e6; 
    color: white;
  }
}



section.large h1 {
  font-size: 300%;
}

section.center {
  text-align: center;
  align-items: center;
}

pre {
  color: #333;
}

section.gray {
  background-color: #ddd;
}

section.black {
  h1 {
    background: #333;
    color: #fff;
  }

  h2 strong {
    color: #b3e9fa;
  }

}



table {
  width: 100%;
}

th {
  text-align: left;
}

section.img-center img {
  border: 1px solid #aaa;
  display: flex;
  align-self: flex-end;
}

.small {
  font-size: 20px;
}


section .nobullets {
  ul {
    list-style: none;
    padding-left: 0;
  }

  h2 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}